<div class="about">
<p>Hi! This is a site designed to help women find bras they love to wear!</p>
<p>Every bra is a little different, and every body has different needs. This site is intended to collect information gathered by users so that women can find their perfect fits.</p>
<p>This is just a side project right now, but I would like to add in some more advanced data capabilities, so that bras can be sorted by what breast types they are best for (wide? narrow? soft? firm?), based on data that has been collected.</p>
<p>Because regardless of size or shape, we all deserve a comfortable fit.</p>
</div>
