<% if object.errors.any? %>
  <div>
    <div>
      <h5>Found errors while saving</h5>
    </div>

    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
