<div class="review">
  <p><%= review.author %> said: </p>
  <p><%= review.body %></p>
  <% if can? :edit, review %>
    <%= link_to "Edit review", edit_bra_review_path(@bra, review) %>
    <%= link_to "Delete review", bra_review_path(@bra, review), method: 'delete' %>
  <% end %>
</div>
